<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      Die an der Initiative beteiligten Organisationen stellen an dieser Stelle Ihre Mobilitätsdaten und andere Informationen und Services rund um den Nahverkehr zur Verfügung. Ziel der gemeinsamen Initiative „OpenData und OpenService-Plattform im Öffentlichen Personennahverkehr (ÖPNV)“  ist es, Transparenz zu schaffen und neue Ideen zu generieren, durch die die Mobilität im jeweiligen Verbund- beziehungsweise Tarifraum und darüber hinaus verbessert wird. Durch die verbundübergreifend abgestimmte benutzerfreundliche System- und Portallandschaft soll dies gelingen.
    </p>
  </div>
</div>