{% extends "page.html" %}

{% set page_title = _('Datenschutz') %}

{% block subtitle %}{{ page_title }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active"> <a href="{{ h.url_for('datenschutz')}}">{{ page_title }}</a></li>
{% endblock %}

{% block primary %}
<article class="module">
  <div class="module-content">
    <h1>{{ page_title }}</h1>
    <p>
      <span lang="de-DE">Wir freuen uns, dass Sie unser Internetangebot besuchen und bedanken uns f&uuml;r Ihr Interesse! Die Verkehrsverbund
        Rhein-Ruhr A&ouml;R nimmt den Schutz Ihrer personenbezogenen Daten sehr ernst. Ihre personenbezogenen Daten (z. B.
        Name, Anschrift, E-Mail-Adresse) werden von uns nur gem&auml;&szlig; den Behttps://www.openvrr.de/stimmungen des
        deutschen Datenschutzrechts verarbeitet und nur dann erhoben, genutzt und weiter gegeben, wenn dies gesetzlich erlaubt
        ist oder Sie in die Datenerhebung einwilligen. Dabei stellen wir sicher, dass die Vorschriften &uuml;ber den Datenschutz
        auch von den von uns beauftragten externen Dienstleistern beachtet werden.</span>
    </p>
    <p>
      <span lang="de-DE">Nutzung unseres Internetangebotes:</span>
    </p>
    <p>
      <span lang="de-DE">Sie k&ouml;nnen die Seiten der Verkehrsverbund Rhein-Ruhr A&ouml;R besuchen, ohne dass wir pers&ouml;nliche Daten von
        Ihnen ben&ouml;tigen. Wir erfahren nur die Website, von der aus Sie zu uns surfen und die Seiten, die Sie bei uns
        besuchen. Die IP-Adresse wird sofort nach der Verarbeitung und vor deren Speicherung anonymisiert. Diese Informationen
        werden zu statistischen Zwecken sowie f&uuml;r den Fall, dass es technische Probleme gibt, zu deren Behebung sie
        beitragen k&ouml;nnen, ausgewertet; der einzelne Benutzer jedoch bleibt hierbei anonym.</span>
    </p>
    <p>Verwendung von Cookies:</p>
    <p>
      <span lang="de-DE">Cookies sind Daten, die vom Webserver an den Webbrowser des Nutzers gesandt und dort f&uuml;r einen sp&auml;teren Abruf
        tempor&auml;r gespeichert werden. Ob Cookies gespeichert werden k&ouml;nnen, bestimmen Sie selbst, indem Sie Ihren
        Browser so einstellen, dass Sie</span>
    </p>
    <ul>
      <li>
        <span lang="de-DE">vor dem Speichern eines Cookies informiert werden und eine Speicherung erst erfolgt, wenn Sie dieser ausdr&uuml;cklich
          zustimmen oder</span>
      </li>
      <li>
        <span lang="de-DE">die Speicherung von Cookies generell ausschalten</span>
      </li>
    </ul>
    <p>
      <span lang="de-DE">Wir verwenden Cookies f&uuml;r folgenden Zweck:</span>
    </p>
    <ul>
      <li>
        <span lang="de-DE">Sitzungs-ID zur internen Lastverteilung der Nutzer, die unser Internetangebot besuchen.</span>
      </li>
    </ul>
    <p>
      <span lang="de-DE">Eine Zusammenf&uuml;hrung mit etwaigen anderen von Ihnen zur Verf&uuml;gung gestellten personenbezogenen Daten erfolgt
        nicht.
      </span>
    </p>
    <p>
      <span lang="de-DE">Kontaktaufnahme:</span>
    </p>
    <p>
      <span lang="de-DE">Bei der Kontaktaufnahme mit der VRR A&ouml;R werden die von Ihnen gemachten Angaben im Rahmen der gesetzlichen Bestimmungen
        zwecks Bearbeitung und Beantwortung Ihrer Anfrage gespeichert.</span>
    </p>
    <p>
      <span lang="de-DE">Registrierung:</span>
    </p>
    <p>
      <span lang="de-DE">Die Daten Ihrer Registrierung bei Zugriff auf unsere Schnittstelle (API, siehe Nutzungsbedingungen) im Rahmen des OpenVRR-Portals
        werden ausschlie&szlig;lich gespeichert, um bei Missbrauch dieser Schnittstelle (API) und dadurch hervorgerufener
        Sicherheitsrisiken oder sonstigen Einwirkungen auf das Fahrplanauskunftssystem Ursachen- und Problemforschung betreiben
        zu k&ouml;nnen.</span>
    </p>
    <p>
      <span lang="de-DE">Dabei handelt es sich um folgende Daten: Benutzername Vollst&auml;ndiger Name Email Passwort</span>
    </p>
    <p>
      <span lang="de-DE">Diese Daten des Lizenznehmers werden im Missbrauchsfall der Schnittstelle mit dem Sicherheitstoken des Lizenznehmers
        verkn&uuml;pft. Eine Verkn&uuml;pfung mit anderen Daten oder eine Weitergabe an Dritte erfolgt nicht. Der Lizenznehmer
        kann jederzeit die L&ouml;schung seiner Registrierungsdaten unter der Email-Adresse openvrr@vrr.de fordern. Mit L&ouml;schung
        seiner Registrierungsdaten erlischt auch die Nutzungslizenz der Schnittstelle (API).</span>
    </p>
    <p>Social Plugin von Facebook:</p>
    <p>
      <span lang="de-DE">Wir verwenden Social Plugins von facebook.com, betrieben durch Facebook Inc., 1601 S. California Ave, Palo Alto, CA
        94304, USA. Die Plugins sind an dem Facebook Logo oder dem Zusatz "Facebook Social Plugin" zu erkennen. Wenn Sie
        z.B. den "Gef&auml;llt mir"-Button anklicken oder einen Kommentar abgeben, wird die entsprechende Information von
        Ihrem Browser direkt an Facebook &uuml;bermittelt und dort gespeichert. Weiterhin macht Facebook Ihre Vorlieben f&uuml;r
        Ihre Facebook-Freunde &ouml;ffentlich. Sind Sie bei Facebook eingeloggt, kann Facebook den Aufruf unserer Seite Ihrem
        Facebook-Konto direkt zuordnen. Auch wenn Sie nicht eingeloggt sind oder gar kein Facebook-Konto besitzen, &uuml;bermittelt
        Ihr Browser Informationen (z.B. welchen Webseite Sie aufgerufen haben, Ihre IP-Adresse), die von Facebook gespeichert
        werden. Details zum Umgang mit Ihren pers&ouml;nlichen Daten durch Facebook sowie Ihren diesbez&uuml;glichen Rechten
        entnehmen Sie bitte den Datenschutzhinweisen von Facebook:&nbsp;</span>
      <a href="http://www.facebook.com/policy.php">
        <span lang="de-DE">
          <u>http://www.facebook.com/policy.php</u>
        </span>
      </a>
      <span lang="de-DE">. Wenn Sie nicht m&ouml;chten, dass Facebook die &uuml;ber unsere Webseiten &uuml;ber Sie gesammelten Daten Ihrem Facebook-Konto
        zuordnet, m&uuml;ssen Sie sich vor Ihrem Besuch unserer Webseiten bei Facebook ausloggen.</span>
    </p>
    <p>Auskunftsrechte:</p>
    <p>
      <span lang="de-DE">Nach dem Datenschutzgesetz Nordrhein-Westfalen - DSG NRW haben Sie ein Recht auf unentgeltliche Auskunft &uuml;ber
        gespeicherte Daten sowie ggf. ein Recht auf Berichtigung, Sperrung oder L&ouml;schung dieser Daten. Wenn Sie weitere
        Fragen zum Thema Datenschutz haben, kontaktieren Sie uns bitte. Bei Fragen zur Erhebung, Verarbeitung oder Nutzung
        Ihrer personenbezogenen Daten sowie Widerruf erteilter Einwilligungen wenden Sie sich bitte an: openvrr@vrr.de</span>
    </p>
    <p>
      <span lang="de-DE">Kommentarfunktion:</span>
    </p>
    <p>
      <span lang="de-DE">Die M&ouml;glichkeit, Kommentare abzugeben, wird von Disqus Inc., einem Service aus den USA, unter den Nutzungsbedingungen
        von Disqus Inc. (Stand: 4.11.2015) bereitgestellt. Dazu werden die Daten, die Sie Disqus &uuml;bermitteln, in den
        USA verarbeitet. Die VRR A&ouml;R ist nicht f&uuml;r den Service von Disqus Inc. verantwortlich. Namentliche Anmerkungen
        und Kommentare geben die Meinung des jeweiligen Verfassers und nicht der VRR A&ouml;R wieder. F&uuml;r Kommentare
        Dritter und etwaige Verlinkungen in solchen Kommentaren ist die VRR A&ouml;R nicht verantwortlich. Eine permanente
        inhaltliche Kontrolle von Kommentaren Dritter ist ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar.
        Bei Bekanntwerden von Rechtsverletzungen wird die VRR A&ouml;R derartige Kommentare umgehend entfernen, soweit dies
        von Disqus Inc. technisch erm&ouml;glicht wird.</span>
    </p>
    <p>Try to solve the new Formula Cube! It works exactly like a Rubik's Cube but it is only $2, from China. Learn to solve
      it with the tutorial on rubiksplace.com or use the
      <a href="https://www.grubiks.com/solvers/rubiks-cube-3x3x3/">solver to calculate</a> the solution in a few steps.</p>
  </div>
</article>
{% endblock %}

{% block secondary %}{% endblock %}
