{% resource 'opnv/js/modules/dismiss-ga-message.js' %}
{% resource 'opnv/js/modules/opt-out-ga.js' %}

{% ckan_extends %}

{% block header_wrapper %}

{% block header_account %}

{% set locale = h.lang() %}

{% if h.is_mobile_device() %}
  <div class="ga-opt-out mobile" data-ga-id="{{ h.get_googleanalytics_id() }}">
    {% trans %}
      Click <a href="#">here</a> to opt-out from Google Analytics tracking.
    {% endtrans %}
  </div>
{% else %}
  <div class="ga-opt-out">
    {% trans %}
      You can opt-out from Google Analytics tracking by installing a <a href="https://tools.google.com/dlpage/gaoptout?hl={{ locale }}" target="_blank" data-module="opnv-dismiss-ga-message">browser extension</a>.
      Click <a href="#" data-module="opnv-dismiss-ga-message">here</a> to dismiss.
    {% endtrans %}
  </div>
{% endif %}
<header class="account-masthead">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span10 offset1">
        {% block header_account_container_content %}
          {% if c.userobj %}
            <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
              <ul class="unstyled">
                {% block header_account_logged %} {{ super() }}
                {% endblock %}
              </ul>
            </div>
          {% else %}
            <nav class="account not-authed">
              <ul class="unstyled">
                {% block header_account_notlogged %}
                <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
                {% endblock %}
              </ul>
            </nav>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
</header>
{% endblock %}

<header class="navbar navbar-static-top masthead">
  {% block header_debug %} {{ super() }} {% endblock %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span10 offset1">
        <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
          <span class="fa fa-bars"></span>
        </button>

        <div class="row-fluid">
          <div class="span4">
            <hgroup class="{{ g.header_class }}">
              {% block header_logo %} {{ super() }} {% endblock %}
            </hgroup>
          </div>
          <div class="span8">
            {% block header_site_search %} {{ super() }} {% endblock %}
          </div>
        </div>

        <div class="nav-collapse collapse">
          {% block header_site_navigation %}
          <nav class="section navigation">
            <ul class="nav">
              {% block header_site_navigation_tabs %} {{ h.build_nav_main( ('search', _('Datasets')), ('organizations_index', _('Organizations')),
              ('about', _('About')) ) }} {% endblock %}
            </ul>
          </nav>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</header>
<div role="main" class="hero">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span10 offset1">
        {% block promoted %} {% snippet 'home/snippets/promoted.html' %} {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
