{% extends "page.html" %}

{% block primary %}
<article class="module">
  <div class="module-content">
    <h1>Impressum</h1>
    <pre>
Dies ist eine Seite der Verkehrsverbund Rhein-Ruhr AöR.
Verkehrsverbund Rhein-Ruhr AöR Augustastraße 1 45879 Gelsenkirchen
Telefon: +49 209 1584-0
Telefax: +49 209 23967
Internet: www.vrr.de
Vorsitzender des Verwaltungsrates: Hans Wilhelm Reiners
Vorstand: Martin Husmann (Sprecher), José Luis Castrillo
Handelsregistereintrag: Amtsgericht Essen, HRA 8767
Bei Fragen zum Internetauftritt senden Sie bitte eine E-Mail an das OpenData-Team der Verkehrsverbund Rhein-Ruhr AöR. Dieses erreichen Sie unter openvrr@vrr.de.
OpenData ÖPNV basiert auf der Open Source Plattform CKAN.
    </pre>
  </div>
</article>
{% endblock %}
{% block secondary %}{% endblock %}
