{% extends "page.html" %}

{% set page_title = _('Impressum') %}

{% block subtitle %}{{ page_title }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active"> <a href="{{ h.url_for('impressum')}}">{{ page_title }}</a></li>
{% endblock %}

{% block primary %}
<article class="module">
  <div class="module-content">
    <h1>{{ page_title }}</h1>
    <p>
      <span lang="de-DE">Dies ist eine Seite der Verkehrsverbund Rhein-Ruhr A&ouml;R.</span>
    </p>
    <p>
      <span lang="de-DE">Verkehrsverbund Rhein-Ruhr A&ouml;R Augustastra&szlig;e 1 45879 Gelsenkirchen</span>
    </p>
    <p>
      <span lang="de-DE">Telefon: +49 209 1584-0</span>
    </p>
    <p>
      <span lang="de-DE">Telefax: +49 209 23967</span>
    </p>
    <p>
      <span lang="de-DE">Internet: www.vrr.de</span>
    </p>
    <p>
      <span lang="de-DE">Vorsitzender des Verwaltungsrates: Hans Wilhelm Reiners</span>
    </p>
    <p>
      <span lang="de-DE">Vorstand: Martin Husmann (Sprecher), Jos&eacute; Luis Castrillo</span>
    </p>
    <p>
      <span lang="de-DE">Handelsregistereintrag: Amtsgericht Essen, HRA 8767</span>
    </p>
    <p>
      <span lang="de-DE">Bei Fragen zum Internetauftritt senden Sie bitte eine E-Mail an das OpenData-Team der Verkehrsverbund Rhein-Ruhr A&ouml;R.
        Dieses erreichen Sie unter openvrr@vrr.de.</span>
    </p>
    <p>
      <span lang="de-DE">OpenData &Ouml;PNV basiert auf der Open Source Plattform CKAN.</span>
    </p>
  </div>
</article>
{% endblock %}

{% block secondary %}{% endblock %}
