{% extends "page.html" %}

{% block primary %}
<article class="module">
  <div class="module-content">
    <h1>Nutzungsvereinbarungen</h1>
    <pre>
      Geltungsbereich

      Die vorliegenden Bedingungen entfalten Geltung für das unter der Domain www.openvrr.de bereitgehaltene Internetportal (im Folgenden: „Portal“).

      Betrieb, Verantwortliche, Links und Inhalte Dritter

      (1) Das Portal bietet Ihnen einen Zugang zu den als OpenData veröffentlichten Daten der Verkehrsverbund Rhein-Ruhr AöR (im Folgenden: „VRR AöR“), welche Betreiberin dieses Portals ist.

      (2) Das Hosting und die technische Umsetzung des Portals erfolgt durch die Viderum GmbH.

      (3) Für die im Portal bereitgestellten Daten und deren Lizenzierung an Abnehmer ist ausschließlich die VRR AöR zuständig.

      (4) Das Portal kann Links zu externen Webseiten Dritter enthalten. Auf diese Inhalte hat die VRR AöR keinen Einfluss und kann keine Gewähr für diese übernehmen. Die Verantwortlichkeit liegt grundsätzlich beim Anbieter des externen Webangebotes. Die VRR AöR hat diese externen Webangebote auf etwaige Rechtsverstöße überprüft. Eine permanente Kontrolle der verlinkten Seiten ist jedoch ohne Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Sobald der VRR AöR derartige Anhaltspunkte bekannt werden, wird sie derartige Links unverzüglich entfernen.

      Weiterentwicklung des Portals, Änderungsvorbehalt

      (1) Da sich das Portal in einer stetigen Weiterentwicklung befindet, behält sich die VRR AöR das Recht vor, die dort angebotenen Dienste jederzeit zu ändern, einzuschränken, ganz einzustellen oder abweichende Dienste anzubieten. Weder Erreichbarkeit noch Verfügbarkeit der Server noch die inhaltliche Richtigkeit jedweder vorgehaltener Daten werden gewährleistet. Ebenso kann die VRR AöR die vorgehaltenen Daten und deren Lizenzierung jederzeit und ohne Vorankündigung ändern.

      (2) Die VRR AöR behält sich auch das Recht vor, diese Nutzungsbedingungen jederzeit zu verändern.

      Untersagte Nutzungsarten, Haftungs- und Gewährleistungsausschluss

      (1) Es ist Ihnen untersagt, bei der Nutzung dieses Portals Software oder sonstige Mechanismen zu verwenden, die zu einer Störung des Betriebes dieses Portals führen können. Dazu gehört insbesondere auch die übermäßige oder unzumutbare Belastung der technischen Infrastruktur. Die VRR AöR behält sich die jederzeitige Beschränkung oder Verwehrung des Zugangs zum Portal vor.

      (2) Sie akzeptieren durch die Nutzung des Portals diese Bedingungen und bei der Datennutzung deren Lizenzbestimmungen und sind für die Nutzung der bereitgestellten Daten und Inhalte, sowie für die Einhaltung der Lizenzbestimmungen, allein verantwortlich.

      (3) Die Daten und sonstigen Inhalte dieses Portals werden von der VRR AöR ohne jede Gewähr bereitgestellt. Eine Verantwortlichkeit für deren Fehlerfreiheit, Eignung für einen bestimmten Zweck, Freiheit von Rechten Dritter, Aktualität oder Aktualisierung besteht seitens der VRR AöR ausdrücklich nicht. Die VRR AöR haftet auch nicht für Schäden, die durch die Datennutzung entstehen oder die beim Abrufen oder Herunterladen von Inhalten dieses Portals durch Schadprogramme verursacht werden. Diese Beschränkungen gelten nicht im Rahmen übernommener Garantien, für Verletzungen des Lebens, des Körpers und der Gesundheit sowie für Ansprüche aus dem Produkthaftungsgesetz.

      Hinweise zu Schutzrechten

      Die VRR AöR gewährt keine Rechte, die über die durch die jeweilige Lizenz eingeräumten Nutzungsrechte hinausgehen. Marken-, Design-, sonstige gewerbliche Schutzrechte und das Urheberrecht sind von Ihnen zu beachten. Die Verwendung von Marken der VRR AöR ist ohne ihre vorherige schriftliche Zustimmung ausdrücklich untersagt.

      Nutzung des Fahrgastinformationssystems

      Für die Nutzung des Fahrgastinformationssystemes gelten die <a href="/Anlage 1.1_Nutzungsbedingungen API_23022018 - LOGO - Copy.pdf">Nutzungsbedingungen API</a>.
    </pre>
  </div>
</article>
{% endblock %}
{% block secondary %}{% endblock %}
