<div id="terms-download" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Nutzungsvereinbarung</h3>
    </div>
    <div class="modal-body">
        <p>{{ _("Ich habe die") }} <a href="{{site_url}}/pages/netiquette" > {{ _("Nutzungsvereinbarungen") }} zur Kenntnis genommen.</a></p>
    </div>
    <div class="modal-footer">
        <a class="btn" type="button" class="close" data-dismiss="modal" aria-hidden="true">{{_("Ablehnen")}}</a>
        <a href="{{ res.url }}" class="btn btn-primary">{{_("Zustimmen")}}</a>
    </div>
</div>
