{% ckan_extends %}
 {% block content %}
<div class="homepage">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span10 offset1">
          {{ self.flash() }}
        </div>
      </div>
    </div>
    {% block primary_content %}
    <div role="main">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span10 offset1">
            <div class="row-fluid">
              <div class="span6">
                {% block intro %} {% snippet 'home/snippets/intro.html' %} {% endblock %}
                <div class="intro-column">
                  <ul class="unstyled sponsors-logos">
                    {% set organizations_list = h.org_list() %}
                    {% for organization in organizations_list %}
                      {% set org = h.get_org_dict(organization) %}
                        <li>
                          <a href="{{h.url_for(controller='organization', action='read', id=organization)}}">
                            <img src="{{ org.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{organization}}-logo">
                          </a>
                        </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>

            {% set posts = h.get_recent_pages_posts(3) %}
              <div class="span4 offset1">
                {% if posts %}
                <div class="news-column">
                  <h1 class="module-headline">News and Events</h1>
                  <ul class="unstyled news-list">
                    {% for post in posts %}
                    <li class="news-list-item">
                      <a href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + post.name) }}">
                        <h4 class="news-title">{{ post.title or post.name }}
                        </h4>
                      </a>
                      <p class="news-date">{{ h.render_datetime(post.publish_date) }}</p>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}

              {% set showcases = h.get_recent_showcases(3) %}
                {% if showcases %}
                <div class="showcase-column">
                  <h1 class="module-headline">Showcases</h1>
                  <ul class="unstyled news-list">
                    {% for showcase in showcases %}
                    <li class="news-list-item">
                      <a href="{{h.url_for(controller='ckanext.showcase.controller:ShowcaseController', action='read', id=showcase.name)}}">
                        <img src="{{ showcase.image_display_url }}" alt="showcase-img">
                      </a>
                      <h4 class="news-title">
                        <a href="{{h.url_for(controller='ckanext.showcase.controller:ShowcaseController', action='read', id=showcase.name)}}">
                          {{ showcase.title or showcase.name}}
                        </a>
                      </h4>
                      <p class="text-desc">{{ showcase.notes|truncate(200) }}</p>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
</div>
{% endblock %}
